nav {
  padding: 1.2rem;
  background-color: antiquewhite;
  margin-bottom: 1rem;
  
  a {
    color: black;
  }
  
  navbar-header {
    text-align: center;
  }
  
  ul {
    text-align: center;
    
    li {
      display: inline;
    }
  }
}
